.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__title {
      font-size: 20px;
      font-weight: bold;
      align-items: center;
      // margin-right: 50px;
    }
    &__author {
      font-size: 13px;
      align-items: center;
      // margin-right: 50px;
    }
    &__cat {
      font-size: 20px;
      color: orange;
      margin-right: 10px;
      margin-left: 20px;
      font-weight: bold;
      width: 200px;
      align-items: center;
    }
    &__info {
      font-size: 20px;
      letter-spacing: 1px;
      margin-right: 30px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    button {
      margin-left: 5px;
    }
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__title {
      font-size: 20px;
      font-weight: bold;
      margin-right: 10px;
    }
    &__info {
      font-size: 20px;
      letter-spacing: 1px;
      margin-right: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      min-width: 250px;
      h2 {
        font-size: 20px;
        color: cornflowerblue;
        margin-right: 15px;
      }
    }
    &__cat {
      font-size: 20px;
      color: orange;
      margin-right: 10px;
      font-weight: bold;
      width: 200px;
      align-items: center;
    }
    &__price {
      color: gray;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      width: 100px;
      padding-top: 10px;
    }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
      margin-left: 5px;
    }
  }
}

h5 span {
  font-size: 15px;
  color: crimson;
  margin-left: 20px;
}
.click-link {
  cursor: pointer;
  height: 40px;
  &:hover {
    opacity: 0.7;
  }
}
